@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

#play{
    width : 200px;
    margin-left: 10px;
}

#paly-pause{
    margin-bottom: 20px;
}

.fa{
    font-size: 30px;
}

.fa-pause{
    color: blueviolet;
}

.fa-play{
    color: red;
}

.fa-refresh{
    color: red;
}

#length-box{
    margin-top: 80px;
    height: 200px;
    width: 300px;
    justify-content: center;
    text-align: center;
}
.label{
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

#break-label{
    background-color: red;
    border-radius: 10px;
}

#session-label{
    background-color: red;
    border-radius: 10px;
}

i{
    margin : 10px 20px 10px 20px;
}