#play {
  width: 200px;
  margin-left: -5px;
  margin-top: 220px;
}

#start_stop {
  margin-bottom: 20px;
}

.fa {
  font-size: 30px;
  color: #f9f871;
}

#length-box {
  margin-top: 80px;
  height: 200px;
  width: 300px;
  justify-content: center;
  text-align: center;
}
.label {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}

#break-label {
  background-color: #ff397b;
  border-radius: 10px;
}

#session-label {
  background-color: #ff397b;
  border-radius: 10px;
}

i {
  margin: 10px 20px 10px 20px;
}

@media only screen and (max-width: 400px) {
  #break-label {
    margin-top: -30px;
  }

  #session-label {
    margin-top: 10px;
  }

  #play {
    width: 100px;
    margin-left: -25px;
    margin-top: 240px;
  }
}
