.circle {
  border-radius: 50%;
}

.out {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  border: 3px solid rgba(225, 0, 0, 0.4);
  margin: 30px 0 0 40px;
}
.in-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border: 3px solid rgba(225, 0, 0, 0.4);
}

.in-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border: 3px solid rgba(225, 0, 0, 0.4);
}

#timer{
    font-size: 35px;
}

#container{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

