@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');

#header{
    height : 70px;
    width : 350px;
    background-color : red;
    float : right;
    margin-left : 0px;
    border-radius: 9px;
    margin-top : 20px;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
   font-family: 'BioRhyme', serif;
}