#header{
    height : 70px;
    width : 350px;
    background-color : #ff397b;
    float : right;
    margin-left : 0px;
    border-radius: 20px;
    margin-top : 20px;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
}