img{
  float: right;
  height: 450px;
  width: 550px;
  margin-top: 100px;
  margin-right: 20px;
}

#image-text{
  text-align: center;
  font-size: 50px;
}

@media only screen and (max-width: 400px) {

img{
  display: none;
}
#image-text{
  display: none;
}
}